<div class="modal fade" id="affiliate_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact us</h4>
      </div>
      <div class="modal-body">
        <p>Hi there :),</p>
        <p>If you need help or if you want to be affiliate, feel free to contact us at
        <a href="mailto:beithcoin@gmail.com">beithcoin@gmail.com</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
