<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bitcoin fetcher</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="styles/visitor.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>

  <body class="bc_fetcher">
    <div class="page-header">
      <div class="row">
      <!-- <span class="glyphicon glyphicon-bullhorn class"></span> -->
        <div class="col-sm-4 col-md-4"><h1>BeithCoin</h1></div>
        <div class="col-sm-4 col-md-4 bc_visitor_address_container"><input type="text" id="bc_visitor_address" placeholder="Your Bitcoin address" /></div>
        <div class="col-sm-4 col-md-4 bc_next"><button type="button" class="btn btn-next">Next site</button></div>
      </div>
    </div>
    <!-- Include the view file for the current controller/route -->

    <div class="fetcher_app" ng-app="fetcher">
      <div class="content_app" ng-controller="homePageCtrl">
        {{ toto }}
      </div>
    </div>
    <!-- <%- body %> -->

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script type="text/javascript" src="js/angular_app.js"></script>
    </body>
</html>
