<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReachCoin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="//favicon.ico?v=2" />
    <link rel="stylesheet" href="styles/visitor.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>

  <body class="bc_fetcher" data-ng-app="fetcher">
    <div data-ng-controller="homePageCtrl" data-ng-init="init()">
      <div class="page-header">
        <div class="row">
        <!-- <span class="glyphicon glyphicon-bullhorn class"></span> -->
          <div class="col-sm-4 col-md-4"><h1>ReachCoin</h1></div>
          <div class="col-sm-4 col-md-4 bc_visitor_address_container"><input type="text" id="bc_visitor_address" placeholder="Enter your Bitcoin address" /></div>
          <div class="col-sm-4 col-md-4 bc_next"><button type="button" class="btn btn-next" data-ng-disabled="isLoading" data-ng-click="next()">Next site</button></div>
        </div>
      </div>
      <!-- Include the view file for the current controller/route -->

      <div class="content_app">
        <%- body %>
      </div>

      <footer class="text-center">
        <div class="col-sm-4 col-md-4">
          <iframe data-aa='9617' src='//ad.a-ads.com/9617?size=120x60&background_color=feea5e&text_color=000000&title_color=e30c0c&title_hover_color=7a0404&link_color=d61414&link_hover_color=7a0404' scrolling='no' style='width:120px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
        </div>
        <div class="col-sm-4 col-md-4">
          <p>
            <a data-toggle="modal" href="#affiliate_modal"> Do you have a question ?<br>
            Do you want to be affiliate ?</a><br><br>
            Copyright <span class="glyphicon .glyphicon-copyright-mark"></span>2013 BeithCoin.<br>
            <span id="bc_donate">Donations: 185MG5DBXpQLmVpre1HWFycGUiqv8Djy8k</span>
          </p>
        </div>
        <div class="col-sm-4 col-md-4">
          <iframe data-aa='9617' src='//ad.a-ads.com/9617?size=120x60&background_color=feea5e&text_color=000000&title_color=e30c0c&title_hover_color=7a0404&link_color=d61414&link_hover_color=7a0404' scrolling='no' style='width:120px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
        </div>
      </footer>


      <%- partial('partials/affiliate_modal') %>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script type="text/javascript" src="js/angular_app.js"></script>
    </body>
</html>
