<div class="homepage" data-ng-if="!started">
  <h1>Earn <i>FREE</i> Bitcoins !</h1>
  <h3>How it works ?</h3>
  <div class="tutorial">
    <div class="row">
       <div class="col-sm-4 col-md-4">
        <img src="images/wallet.png" alt="wallet" class="img-responsive" />
       </div>
      <div class="col-sm-4 col-md-4 bc_visitor_address_container">
        <img src="images/captcha.png" alt="captcha" class="img-responsive" />
      </div>
      <div class="col-sm-4 col-md-4 bc_next">
        <img src="images/bitcoin_icn.png" alt="bitcoin_icn" class="img-responsive" />
      </div>
    </div>
    <div class="row text-center">
        <p class="col-sm-4 col-md-4">Enter your Bitcoin Address</p>
        <p class="col-sm-4 col-md-4">Solve the Captcha.<br>
        Only to prove that you are human</p>
        <p class="col-sm-4 col-md-4">Earn Bitcoins !<br>Click on 'Next site' to earn more Bitcoins</p>
        <button class="btn btn-success" id="bc_start" data-ng-click="start()" data-ng-disabled="isLoading">START</button>
    </div>

  <h2>The funniest way to get free Bitcoins.</h2>

  </div>
</div>

<div class="iframe-app" data-ng-if="started">
  <iframe data-ng-src="{{url}}" seamless="true"></iframe>
</div>

